<!DOCTYPE html>
<html>
<body>
    <h1>Twitter 2nd Line Followers</h1>
    <p>
        This is a very simple web app that connects to your Twitter account using OAuth and displays a list of your followers' followers. It also shows you the number of your own followers that each 2nd line follower follows.
        <br>
        <br>
        For that we first need to connect the app through Twitter. This will only grant the app read privileges and you can revoke access at any time from your account.
    </p>
    <div>
        <a href="./authorize">Connect your Twitter account!</a>
    </div>
    <br>
    <div id=footer>
        Made by Esteban Zacharzewski
    </div>
</body>
</html>
